.artist_hero {
    --grad-rot: 0deg;
    --grad-col-1: var(--rok-peach-1_hex);
    --grad-col-2: var(--rok-slate-blue_hex);
    height: 60vh;
    position: relative;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 3vh 15vw;
    color: white;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    background: linear-gradient(var(--grad-rot), var(--grad-col-1), var(--grad-col-2));
    z-index: 0;
}

.artist_hero::after {
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.6);
    mix-blend-mode: multiply;
    background-image: linear-gradient(to top, var(--black), #2a2a2a 15%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.artist_hero .featured_image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.artist_hero .avatar {
    border-radius: 50%;
    border: solid 3px white;
    width: 180px;
    height: 180px;
    max-width: 20vw;
    max-height: 20vw;
}

.artist_hero .avatar .headshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.artist_hero .artist_bio {
    margin-left: 1.5vw;
}

.artist_bio p {
    color: white;
}

.artist_hero .btn_message {
    padding: .5em 2.5em;
    font-size: .95em;
    margin-inline-end: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.artist_hero h1 {
    font-size: calc(.6rem + 2.5vw);
    margin: 1rem 0;
    font-weight: 600;
    text-transform: capitalize;
}

.artist_social-icons {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.artist_social-icons .social-icon img {
    height: 3vmin;
}

.artist_social-icons .social-icon .inactive {
    opacity: .3;
}

.social-icon {
    display: block;
    transition: transform .12s ease-in-out;
    margin: 0 1vw;
}

.social-icon:first-child {
    margin-right: 0;
}
.social-icon:last-child {
    margin-left: 0;
}

.social-icon:hover {
    transform: scale(1.09);
}

#edit-social-media .icon-field {
    display: flex;
    text-transform: capitalize;
    margin: 1em 0;
}

#edit-social-media .icon-field img {
    height: 5vh;
    width: 5vh;
    margin-inline-end: 1vw;
    display: none;
}

.artist_hero .toggle_group {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    color: white;
}

.toggle_group .toggle {
    display: inline-block;
    width: 2em;
    height: 1em;
    margin-inline-end: 1em;
    border-radius: .5em;
    background: white;
    position: relative;
}

.toggle_group:focus-within {
    outline: solid var(--rok-gold-1_hex);
    outline-offset: 3px;
}

.toggle_group .toggle::after {
    content: '';
    position: absolute;
    top: .05em;
    left: .05em;
    height: .9em;
    width: .9em;
    border-radius: 50%;
    background: gray;
    transition: all .12s ease-in-out;
}

.toggle_group input:checked + .toggle::after {
    transform: translate(calc(100% + .1em));
    background: var(--rok-gold-1_hex);
}

.artist_hero .back_link {
    position: absolute;
    top: 5vh;
    left: 5vw;
    text-decoration: none;
    font-weight: normal;
}

.artist_hero .back_link > span {
    display: inline-block;
    transform: translateX(-10%);
    opacity: 0;
    transition: all .12s ease-in-out;
}

.artist_hero .back_link::before {
    position: absolute;
    content: '<';
    font-size: 3em;
    right: calc(100% + 1rem);
    top: 30%;
    transform: translateY(-50%);
}

.artist_hero .back_link:hover > span,
.artist_hero .back_link:focus > span {
    transform: translate(0);
    opacity: 1;
}

.artist_body {
    box-sizing: border-box;
    padding: 5vh 15vw;
}

.my_story {
    margin-bottom: 4em;
}

.artist_body h2 {
    border-bottom: solid 1px lightgrey;
    padding-bottom: .25em;
}

.artist_body h3 {
    text-transform: capitalize;
    border-bottom: solid 1px lightgrey;
    padding-bottom: .25em;
    margin: 1em 0;
}

.btn_resume {
    padding: .75em 2.5em;
    font-weight: normal;
    margin: 2.5em 0;    
}


/* PROFILE EDIT UI */
.btn_edit {
    --size: calc(.8rem + 5vmin);
    border: solid white calc(var(--size) * .03);
    width: var(--size);
    height: var(--size);
    border-radius: calc(var(--size) / 2);
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: calc(var(--size) * .2);
}

.icon_edit {
    max-width: 100%;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    border-radius: .5vmin;
    color: white;
    box-sizing: border-box;
    padding: 1.5em;
    top: calc(100% + .25em);
    width: max-content;
    max-width: 12vw;
    transform: translateY(1vh);
    opacity: 0;
    transition: opacity .12s ease-in-out, transform .12s .04s ease-in-out;
}

.tooltip.from-above {
    top: initial;
    bottom: calc(100% + .25em);
    transform: translateY(-1vh);
}

*:hover > .tooltip,
*:focus > .tooltip {
    transform: translateY(0);
    opacity: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: .2vmax;
    height: .7vmax;
    border: .5vmax solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    transform-origin: 50% 50%;
    transform: translate(-50%);
}

.tooltip.from-above::before {
    top: 100%;
    bottom: initial;
    transform: translate(-50%) rotate(180deg);
}

.edit_featuredImage {
    position: absolute;
    top: 8vh;
    right: 6vw;
}

.headshot_group {
    width: 100%;
    height: 100%;
    position: relative;
}

.headshot_group .edit_headshot {
    position: absolute;
    top: revert;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
}

.message_group {
    display: flex;
    align-items: center;
}

.edit_contactMethod {
    position: relative;
    width: 3em;
    height: 3em;
    padding: .6em;
}

.edit_contactMethod .tooltip {
    max-width: 100vw;
}

.profile_field_group {
    display: flex;
    align-items: center;

}

.profile_field_group p,
.profile_field_group a {
    width: 100%;
    max-width: revert;
}

.profile_field_group form {
    width: 100%;
}

.profile_field_group textarea {
    width: 100%;
    height: 6em;
}

.profile_field_group .btn_edit {
    position: relative;
    margin-inline-start: 1em;
    height: 2.5em;
    width: 2.5em;
    border-radius: 1.25em;
    padding: .5em;
    background: #6d727877;
}

.profile_field_group .btn_resume {
    width: initial;
}

.unfilled-field {
    color: var(--rok-copper-1_hex);
}

.profile_field_group .btn_submit {
    padding: .75em 3em;
    margin-block-start: 1em;
}

.profile_field_group .tooltip {
    max-width: 100vw;
}


@media (max-width: 700px) {
    .artist_hero .back_link {
        top: 3vh;
        left: 12vw;
        font-size: .8rem;
    }

    .artist_hero .back_link > span {
        transform: translate(0);
        opacity: 1;
    }
}