:global(.fullWidth) .basicBlock {
    max-width: 1220px;
    margin: 2em auto;
    box-sizing: border-box;
    padding: 0 1rem;
}

:global(.fullWidth) .basicBlock:first-child {
    margin-top: 10vh;
}
