.dashboard_container {
    display: flex;
}

.dashboard_container > img {
    order: -1;
    width: 30vw;
}

.dashboard_container > div {
    box-sizing: border-box;
    margin: 10vh 4vw;
}

.dashboard .block {
    border: solid 1px #6d727840;
    margin: 4vh 1vw;
    padding: 4vh 4vw;
    box-sizing: border-box;
}

.dashboard .block_intro {
    display: flex;
    align-items: center;
}

.block_intro h2 {
    margin-block-start: 0;
}

.dashboard .block_intro img {
    order: -1;
    margin-inline-end: 2vw;
    width: 8vmin;
    align-self: flex-start;
}

.block_intro .btn {
    padding: .75em 2.5em;
    border-color: var(--rok-copper-1_hex);
    color: var(--rok-copper-1_hex);
}

.block_intro .btn:hover,
.block_intro .btn:focus {
    background: var(--rok-copper-1_hex);
    color: white;
}

@media (max-width: 700px) {
    .dashboard_container {
        flex-direction: column-reverse;
    }

    .dashboard_container > img {
        width: 100%;
    }
}