.dashboard_container {
    display: flex;
}

.dashboard_container > img {
    order: -1;
    width: 35vw;
    height: 100%;
}

.dashboard_container > div {
    box-sizing: border-box;
    margin: 10vh 4vw;
    width: 65vw;
}

.dashboard .block {
    border: solid 1px #6d727840;
    margin: 4vh 1vw;
    padding: 4vh 4vw;
    box-sizing: border-box;
}

.dashboard .block_intro {
    display: flex;
    align-items: center;
}

.block_intro h2 {
    margin-block-start: 0;
}

.dashboard .block_intro img {
    order: -1;
    margin-inline-end: 2vw;
    width: 10vmax;
    align-self: flex-start;
}

.block_intro .btn {
    padding: .75em 2.5em;
    border-color: var(--rok-copper-1_hex);
    color: var(--rok-copper-1_hex);
}

.block_intro .btn:hover,
.block_intro .btn:focus {
    background: var(--rok-copper-1_hex);
    color: white;
}

.block_messages {
    counter-reset: message;
}

.block_messages h2 {
    margin-block-start: 0;
}

.block_messages .message {
    background: #f4f4f4;
    box-sizing: border-box;
    padding: 1vh 3vw;
    margin-block-start: 4vh;
    counter-increment: message;
    position: relative;
}

.block_messages .message::before {
    position: absolute;
    content: counter(message);
    top: 0;
    transform: translateY(-50%);
    font-weight: bold;
    color: white;
    background: var(--rok-pale-green-1_hex);
    padding: 1vh;
    min-width: 3vh;
    border-radius: 5vh;
    text-align: center;
}

.block_badge img {
    max-width: 120px;
}

.block_badge .btn {
    display: inline-block;
}

@media (max-width: 700px) {
    .dashboard_container {
        flex-direction: column-reverse;
    }

    .dashboard_container > div {
        width: initial;
    }

    .dashboard_container > img {
        width: 100%;
    }

    .dashboard .block_intro {
        flex-direction: column;
    }

    .dashboard .block_intro img {
        margin-block-end: 3vh;
    }
}