.bannerWrapper {
    --bg: #E4AB25;
    --ink: #0E1826;
    @apply w-full px-4 py-6 lg:px-12 lg:py-6 box-border flex items-center justify-center flex-nowrap gap-4 sticky top-0 z-20;
    background-color: var(--bg);
    color: var(--ink);
}

.bannerWrapper:global(.hidden) {
    display: none;
}

.bannerTextContent {
    @apply text-center whitespace-nowrap;
    color: var(--ink);
}

.bannerCta {
    @apply border-2 border-transparent;
    color: var(--bg);
    background-color: var(--ink);
}


.bannerCta:hover,
.bannerCta:focus {
    border-color: var(--bg);
}

.closeBtn {
    @apply border-2 border-transparent ml-2;
    transition: scale 0.11s ease-out;
    transform-origin: center center;
    scale: 1;
}


.closeBtn:hover,
.closeBtn:focus {
    scale: 1.1;
}