.bannerWrapper {
    --bg: #E4AB25;
    --ink: #0E1826;
    @apply w-full px-4 py-5 lg:px-12 lg:py-4 box-border flex flex-col md:flex-row items-center md:items-center justify-center md:justify-center gap-2 md:gap-4 sticky top-0 z-20 text-center md:text-left;

    background-color: var(--bg);
    color: var(--ink);
}

.bannerWrapper:global(.hidden) {
    display: none;
}

.bannerTextContent {
    @apply text-center whitespace-normal;
    color: var(--ink);
}

.bannerTextContent a {
  text-decoration: underline;
  font-weight: 600;
  color: inherit;
}

.bannerCta {
    @apply border-2 border-transparent;
    color: var(--bg);
    background-color: var(--ink);
}


.bannerCta:hover,
.bannerCta:focus {
    border-color: var(--bg);
}

.closeBtn {
    @apply border-2 border-transparent ml-2;
    transition: scale 0.11s ease-out;
    transform-origin: center center;
    scale: 1;
}


.closeBtn:hover,
.closeBtn:focus {
    scale: 1.1;
}