.dashboard {
    display: flex;
}

.dashboard > img {
    order: -1;
    width: 35vw;
    height: 100%;
}

.dashboard > div {
    box-sizing: border-box;
    margin: 10vh 4vw;
    width: 65vw;
}

.block {
    border: solid 1px #6d727840;
    margin: 4vh 1vw;
    padding: 4vh 4vw;
    box-sizing: border-box;
}

.blockIntro {
    display: flex;
    align-items: center;
}

.blockIntro h2 {
    margin-block-start: 0;
    text-transform: none;
}

.blockIntro img {
    order: -1;
    margin-inline-end: 2vw;
    width: 10vmax;
    align-self: flex-start;
}

.blockIntro .btn {
    padding: .75em 2.5em;
    border-color: var(--rok-copper-1_hex);
    color: var(--rok-copper-1_hex);
}

.blockIntro .btn:hover,
.blockIntro .btn:focus {
    background: var(--rok-copper-1_hex);
    color: white;
}

.block_badge img {
    max-width: 120px;
}

.block_badge .btn {
    display: inline-block;
}

@media (max-width: 700px) {
    .dashboard {
        flex-direction: column-reverse;
    }

    .dashboard > div {
        width: initial;
    }

    .dashboard > img {
        width: 100%;
    }

    .dashboard .blockIntro {
        flex-direction: column;
    }

    .dashboard .blockIntro img {
        margin-block-end: 3vh;
    }
}