.layout {
    @apply my-4 mx-auto w-10/12;
}

.dashboard {
    display: flex;
}

.dashboard > img {
    order: -1;
    width: 35vw;
    height: 100%;
}

.dashboard > div {
    box-sizing: border-box;
    margin: 10vh 4vw;
    width: 65vw;
}

/* .block {
    border: solid 1px #6d727840;
    margin: 4vh 1vw;
    padding: 4vh 4vw;
    box-sizing: border-box;
} */

.dashboardGrid {
    --open-sans: 'Open Sans', sans-serif;
    font-family: var(--open-sans);
    max-width: 1366px;
    width: 100%;
    @apply min-h-full grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, minmax(120px, 20vh));
    gap: 1px;
}

.dashboardGrid,
.dashboardGrid p {
    color: #10151D;
}

.dashboardGrid > section {
    --shadow-offset: 0px 0px 0px 1px;
    box-shadow: var(--shadow-offset) var(--rok-peach-1_hex);
    @apply py-4 px-6;
}

.dashboardButton {
    @apply relative inline-flex items-center gap-2 px-4 py-1 rounded;
    background: #EFF5FF;
    border: solid 1px #C7DAF9;
    color: var(--rok-slate-blue_hex);
    transition: .11s ease-out background;
}

.dashboardButton:hover {
    background: #E0EAFB;
}

.dashboardButton::after {
    content: '';
    background-image: url('/img/dashboard-arrow.svg');
    width: 16px;
    height: 7px;
    transform: translateX(0px);
    transition: .11s ease-out transform;
}

.dashboardButton:hover::after {
    transform: translateX(3px);
}

.dashboardGrid .infoSection {
    @apply flex gap-4 items-center;
    --shadow-offset: 1px 1px 0px 0px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.avatarWrapper {
    width: fit-content;
    border-radius: 4px;
    overflow: hidden;
    width: 80px;
    object-fit: scale-down;
}

.infoContent {
    @apply flex flex-col justify-center;
}

.dashboardGrid h1,
.dashboardGrid h2 {
    font-family: var(--open-sans);
    font-weight: 500;
    text-transform: none;
    font-size: 22px;
    @apply my-0 text-xl;
}

.dashboardGrid h2 {
    font-weight: 600;
}

.dashboardGrid .workshopsSection,
.dashboardGrid .messagesSection {
    @apply grid gap-4;
    grid-template-columns: 1fr 2fr;
    --shadow-offset: -1px 1px 0px 0px;
    /* min-height: 33vh; */
    grid-column-start: 2;
    grid-row: span 2;
}

.dashboardGrid .messagesSection {
    --shadow-offset: -1px -1px 0px 0px;
}

.contentBar {
    @apply flex flex-col justify-between;
}   

.workshopList,
.newsList {
    overflow-y: auto;
}

.workshopItem,
.newsItem {
    background: #F9FAFD;
    border-left: solid 1px var(--rok-slate-blue_hex);
    @apply block py-2 px-2 mb-4 rounded;
}

.workshopItem:hover {
    background: #E9F1FF;
}

.dashboardGrid h3 {
    font-family: var(--open-sans);
    text-transform: none;
    @apply text-lg;
    font-weight: 500;
    line-height: 1.2;
}

.workshopItem .subtitle {
    display: block;
    color: #888888;
    font-weight: 400;
}

.workshopItem p {
    @apply mt-4 mb-0 font-normal;
}

.dashboardGrid .newsSection {
    --shadow-offset: 1px -1px 0px 0px;
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto 1fr;
}

.newsItem {
    background: #F7F9F7;
    border-color: var(--rok-pale-green-1_hex);
}

.newsLink {
    @apply relative flex items-center gap-2 py-1 px-2 rounded inline-block;
    border: solid 1px #B8DDBC;
    background: #E6F1E7;
    color: #528658;
    transition: .11s ease-out background;
}

.newsLink::after {
    content: '';
    display: inlin-block;
    background-image: url('/img/icon_external_link.svg');
    background-fit: scale-down;
    width: 16px;
    height: 16px;
    transform: translateX(0px);
    transition: .11s ease-out transform;
}

.newsLink:hover {
    background: #D4E9D7;
}

.newsLink:hover::after {
    transform: translateX(2px);
}

.newsLinkSecondary {
    background: #EFF5F0;
}

/* Community Spotlight */
.communitySpotlight {
    grid-column-start: 2;
    background: #FEF4F1;
}

.memberCard {
    @apply flex items-center gap-4 p-2 transition-colors;
}

.memberCard:hover {
    background: #FFE0D7;
}

.memberCard img {
    width: 120px;
}

.memberCard .disciplineAndLocation {
    color: #A3624E;
    font-weight: normal;
    @apply mb-1;
}

/* Message Section */
.messageBlock {
    background: #F2F2F2;
    max-height: 120px;
    truncate: '...';
    @apply ml-4 mt-1 py-2 px-4 rounded-2xl font-normal;
    border-top-left-radius: 0px;
}

.block h2 {
    @apply mb-4;
}

.block p {
    @apply my-4;
}

.block p a:not(:global(.btn)) {
    text-decoration: underline;
}

.block p a:not(:global(.btn)):hover {
    color: var(--rok-gold-1_hex);
}

.blockIntro {
    display: flex;
    align-items: center;
}

.blockIntro h2 {
    margin-block-start: 0;
    text-transform: none;
}

.blockIntro img {
    order: -1;
    margin-inline-end: 2vw;
    width: 10vmax;
    align-self: flex-start;
}


.blockIntro .btn {
    padding: .75em 2.5em;
    border-color: var(--rok-copper-1_hex);
    color: var(--rok-copper-1_hex);
}

.blockIntro .btn:hover,
.blockIntro .btn:focus {
    background: var(--rok-copper-1_hex);
    color: white;
}

.block_badge img {
    max-width: 120px;
}

.block_badge a {
    display: inline-block;
}

@media (max-width: 700px) {
    .dashboard {
        flex-direction: column-reverse;
    }

    .dashboard > div {
        width: initial;
    }

    .dashboard > img {
        width: 100%;
    }

    .blockIntro {
        flex-direction: column;
    }

    .blockIntro img {
        margin-block-end: 3vh;
    }

    .dashboard_container {
        display: flex;
    }
}