@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Raleway:400,400i,600,900&display=swap');

:root {
    font-family: 'EB Garamond', serif;
    letter-spacing: .3px;

    --rok-slate-blue_hex: #263e64;
    --rok-gray-1_hex: #6d7278;
    --rok-pale-green-1_hex: #7b8c7d;
    --rok-gold-1_hex: #e4ab25;
    --rok-copper-1_hex: #bf662f;
    --rok-peach-1_hex: #e9bfb2;

    --rok-shadow_bottom: 0 .2vh .8vh rgba(0,0,0,0.2),
                0 .8vh 1.3vh rgba(0,0,0,0.08);

    color: var(--rok-slate-blue_hex);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    min-height: 100vh;
    width: 75vw;
    margin: 10vh auto;
    position: relative;
}

main.fullwidth {
    width: 100%;
    margin: 0;
}

.hover_scale {
    --init-transform: translate(0);
    --hov-scale: 1.03;
    transform: var(--init-transform) scale(1);
    transition: transform .12s ease-in-out;
}
.hover_scale:hover,
.hover_scale:focus {
    transform: var(--init-transform) scale(var(--hov-scale));
}


h1,h2,h3,h4,h5,h6
nav, a, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

a {
    font-family: inherit;
    font-weight: 600;
    color: inherit;
}

p, blockquote {
    max-width: 960px;
}

p {
    color: #6d7278;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    white-space: nowrap;
}

/* Buttons */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background: var(--rok-copper-1_hex);
    color: white;
    font-family: 'Raleway', sans-serif;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: .75em 2em;
    font-weight: normal;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    font-size: .8em;    
    margin-inline-end: 1em;
    transition: all .12s ease-in-out;
    text-transform: uppercase;
}

.btn:hover, .btn:focus {
    transform: scale(1.04);
    box-shadow: 0 0.2vh 0.8vh rgba(0,0,0,0.1),
                0 0.9vh 1.4vh rgba(0,0,0,0.05);
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 rgba(0,0,0,0.2)
                0 0 0 rgba(0,0,0,0.08);
}

.btn.success {
    background: lightgreen;
}
.btn.failure {
    background: lightpink;
}

.has-arrow {
    width: fit-content;
    position: relative;
}

.has-arrow::after {
    content: '>';
    margin-left: .5em;
}

.btn-link_ghost {
    --color: var(--rok-slate-blue_hex);
    background: transparent;
    color: var(--color);
    border: solid 1px;
}

.btn-link_ghost:hover,
.btn-link_ghost:focus {
    background: var(--color);
    color: white;
    border-color: white;
    transform: none;
    box-shadow: none;
}

.btn-link_ghost.bg_copper {
    --color: var(--rok-copper-1_hex);
}

.btn.submitting {
    animation: submit-pulse 1s ease-in-out infinite alternate;
}

@keyframes submit-pulse {
    from {
        background: var(--rok-slate-blue_hex);
        transform: scale(1);
    }
    to {
        background: var(--rok-pale-green-1_hex);
        transform: scale(1.05);
    }
}


/* Icon-Heading-Labels */
.icon-heading-label {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2em 3vw;
}

.icon-heading-label img {
    max-height: 8vh;
    object-fit: contain;
}

.icon-heading-label h3 {
    margin: 1em 0;
}

.icon-heading-label p {
    margin: 0;
    color: #6d7278;
}

.icon-heading-label a {
    white-space: nowrap;
}

/* Pull Quotes */
.quote_graphic-bar {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: var(--rok-pale-green-1_hex);
    font-size: 1.9rem;
    border-left: solid 2px var(--rok-gold-1_hex);
    margin: 0;
    padding-left: .5em;
}

.avatar_placeholder {
    width: 20vmin;
    height: 20vmin;
    border-radius: 10vmin;
    background: #bbb;
}

.flex-left {
    align-items: flex-start;
    text-align: left;
}

.flex_center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.divider {
    width: 100%;
    height: 2px;
    background: #f7f7f7;
    margin: 2em 0;
}

textarea {
    display: block;
}

.bg_white {
    background: white;
}


.txt_center {
    text-align: center;
}

/* Forms & Inputs */
label {
    display: block;
    width: fit-content;
    position: relative;
    font-family: arial, 'Raleway', sans-serif;
    font-size: .8rem;
    font-weight: bold;
    color: #494949;
    margin-block-end: .25em;
}

/* label.is-required::after {
    color: crimson;
    content: '*';
    font-size: 1.3em;
    white-space: nowrap;
} */

input[type='text'] {
    box-sizing: border-box;
    padding: .25em .5em;
}

textarea {
    resize: vertical;
}

.input__group.checkbox {
    display: grid;
    grid-template-columns: 1.5em auto;
    grid-gap: .5em;
    grid-template-rows: 1fr;
    align-items: center;
    grid-column: span 2;
}

.input__group.checkbox label {
    grid-column: 2 / 3;
    text-transform: capitalize;
    font-size: .8rem;  
    margin: 0;
}

.input__group [type='checkbox'] {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* Social Icons */
.social-row {
    display: flex;
    width: 100%;
    max-width: 250px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.social-row img {
    box-sizing: border-box;
    height: calc(150px / 5);
    padding: 3px;
}



/* Layout Utilities */
.grid_2c-2r {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}
.grid_2c-1r {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}


/* Color Util Classes */
.bg_slate {
    background: var(--rok-slate-blue_hex);
}


/* Mobile styles */
@media (max-width: 700px) {
    .icon-heading-label {
        width: 100%;
        max-width: 80vw;
    }

    .grid_2c-1r {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }



    .input__group.checkbox {
        grid-template-columns: 1.5rem 1fr;
        gap: 1rem;
    }

    .input__group.checkbox label {
        font-size: .9rem;
    }

    .input__group.checkbox input {
        width: 1.5rem;
        height: 1.5rem;
    }

    .checkbox__grid {
        grid-template-columns: 1fr;
    }
}