.heading__inline {
    font-family: 'EB Garamond', serif;
    display: inline;
    font-size: 100%;
}

.base :global(.iconHeadings) {
    @apply max-w-7xl mx-auto lg:my-12 text-lg px-6 md:px-12 lg:px-0;
}

.bar__learn-more {
    width: 100%;
    background: var(--rok-slate-blue_hex);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5em 5vw;
    font-size: calc(.6em + 1vw);
}

.bar__learn-more > div {
    max-width: 600px;
    margin-right: 15vw;
}

.section_icon-heading-labels {
    display: flex;
        justify-content: center;
    margin: 0 5vw;
    box-sizing: border-box;
}


.section_quote-block {
    background-color: var(--rok-copper-1_hex);
    color: #fffffff0;
    display: flex;
    align-items: center;
    padding: 2em 5vw;
    box-sizing: border-box;
}

.section_quote-block img {
    max-height: 6em;
}

.section_quote-block blockquote {
    font-size: 1.2em;
    font-family: Raleway, sans-serif;
    color: var(--rok-peach-1_hex);
    line-height: 1.6;
    font-weight: bold;
    margin: 0;
    margin-block-end: .5em;
}

.section_quote-block > div {
    margin-inline-start: 2em;
}

.section_quote-block p {
    margin: 0;
    margin-block-start: .5em;
}

.section_news {
    padding: 4vh 0;
    width: 100%;
    background: rgba(247, 247, 247, 0.5);
}

.section_news h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 12.5%;
    padding-inline-end: 15vw;
    border-bottom: solid 1px;
}


/* Mobile styling */
@media (max-width: 700px) {
    .section_icon-heading-labels {
        flex-direction: column;
        margin: 5vh auto;
        margin-block-start: 0;
        width: fit-content;
    }

    .section_quote-block {
        display: grid;
        padding: 2em 5vw;
        grid-template-columns: 12vw 1fr;
    }

    .section_quote-block img {
        max-height: initial;
        width: 100%;
    }
}