.resourcesIntro {
    margin: 10vh 12.5vw;
    margin-block-end: 2rem;
}

.carousel.resourceCarousel {
    margin-block-end: 2rem;
}

.carousel.resourceCarousel .carousel_inner > * {
    margin: 0 .5rem;
}
.carousel.resourceCarousel .carousel_inner > *:first-child {
    margin-inline-start: 0;
}
.carousel.resourceCarousel .carousel_inner > *:last-child {
    margin-inline-end: 0;
}

.resourceTitle {
    color: white;
    text-transform: uppercase;
    height: min-content;
    border-radius: 4px;
    background: var(--theme-color);
    @apply text-xl md:text-2xl mb-2 w-72;
    @apply p-8;
}

.resourcesIntro {
    margin: 10vh 12.5vw;
    margin-block-end: 2rem;
}

.categoryLink {
    color: white;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    text-decoration: none;
    @apply block my-4;
}

.categoryLink::after {
    content: '>';
    display: inline-block;
    margin-inline-start: .5rem;
}

.resourceAnnotation {
    margin: 2em 12.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


@media(max-width: 700px) {
    .carousel.resourceCarousel {
        margin-inline-start: 0;
    }
    
    .resourceTitle {
        width: 50vw;
    }
}
