h1, h2, h3 {
    text-transform: uppercase;
}

h1, h2 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .5em;
}

.about_h2 {
    margin-top: 1.75em;
}

.about p {
    line-height: 1.7;
}

.icon_placeholder {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: darkgray;
}

.pronoun_checkbox-group {
    display: flex;
    justify-content: space-between;
}

.pronoun_checkbox-group label {
    display: inline-block;
    width: fit-content;
}

.co-founders img {
    width: 100px;
    height: 100px;
}

.co-founders img:first-of-type {
    margin-inline-end: .5vmax;
}

.co-founders p {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: var(--rok-slate-blue_hex);
    margin: .75em 0;
    font-size: .8em;
    letter-spacing: .75px;
}

.about-beliefs {
    margin: 2vh 0;
    margin-inline-end: 2vw;
}

.partner-logos img {
    height: 5vh;
    margin-inline-end: 1em;
}

@media (max-width: 700px) {
    .about .grid_2c-2r {
        grid-template-columns: 1fr;
    }

    .about .icon-heading-label {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}