.key__grid {
    display: flex;
    justify-content: center;
}

.key__card {
    width: 20vw;
    height: 35vh;
    margin: 3vw;
    background: var(--rok-gray-1_hex);
    border-radius: .6em;
    box-shadow: var(--rok-shadow_bottom);
    text-decoration: none;
}

.key__card figure {
    margin: 0;
    margin-top: 10vh;
    height: 25vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(75px + 1.5em);
    box-sizing: border-box;
    border-radius: 0 0 .6em .6em;
    position: relative;
}

.key__card img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background: transparent;
}