.btn_consultant {
    padding: .75em 3em;
}

.consultant_bio-group {
    margin: 2em 1em;   
}

.consultant_bio-group .avatar_placeholder {
    align-self: center;
    margin: 1em 0;
}

.consultant_bio-img,
.consultant_bio-heading h2 {
    transition: all .12s ease-in-out;
}

.consultant_bio-img:hover,
.consultant_bio-heading h2:hover {
    transform: scale(1.03);
} 

.consultant_bio-heading h2 {
    margin-bottom: 0;
}

.consultant_bio-heading {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 1em;
}

.consultant_bio-img {
    max-width: 100%;
    object-fit: scale-down;
}

a.h2_conversational {
    text-transform: capitalize;
    text-decoration: none;
}

a.h2_conversational h2 {
    text-transform: capitalize;
}

.consultant_bio-heading p {
    margin: .5em 0;
    font-weight: 300;
}

.gender-consultant_explain .icon-heading-label {
    --margin-inline: 1vw;
    margin: 3vh 0;
    width: calc(33% - 2 * var(--margin-inline));
}