.directory > section {
    width: 75vw;
    margin: 2em auto;
}

.directory > section:first-of-type {
    margin-top: 10vh;
}
.directory > section:last-of-type {
    margin-bottom: 10vh;
}

.section_search {
    margin: 2em 0;
}

.section_search .input__group {
    display: inline-block;
    margin-inline-end: 2em; 
}

.advanced-btn {
    background: transparent;
    border: none;
    text-transform: uppercase;
    padding: .5em 1em;
    color: #6d7278;
}

.section_search .advanced-arrow {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 1em;
    transform-origin: 50% 50%;
    transition: transform .12s ease-in-out;
}
.section_search .advanced-arrow path {
    fill: none;
    stroke: #6d7278;
    stroke-width: .5;
    stroke-linecap: round;
}

.section_search .input__group input {
    width: 100%;
}

/* Filter inputs  */
.section_filters {
    background: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em 1em;
    transition: all .12s ease-in-out;
    opacity: 0;
    height: 0;
    box-sizing: border-box;
    padding: 0 12.5vw;
}

.directory > .section_filters {
    width: 100%;
}

.section_filters.active {
    opacity: 1;
    height: 100%;
    padding: 2em 12.5vw;
}

.section_filters .checkbox__grid {
    margin-bottom: 0;
}

.section_filters .checkbox__grid.two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.section_filters input[type='text'] {
    width: 80%;
    min-width: 200px;
}

/* Artist Cards */
.key__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.key__card {
    --b-rad: .2em;
    width: 20vw;
    height: 40vh;
    min-width: 240px;
    margin: 2vw;
    background: linear-gradient(var(--grad-rotate), var(--rok-gold-1_hex), var(--rok-peach-1_hex));
    border-radius: var(--b-rad);
    box-shadow: var(--rok-shadow_bottom);
    text-decoration: none;
    transition: all .12s ease-in-out;
}
.key__card:hover,
.key__card:focus {
    transform: scale(1.025);
}

.key__card figure {
    margin: 0;
    margin-top: 12.5vh;
    height: 27.5vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(50px + 1em);
    box-sizing: border-box;
    border-radius: 0 0 var(--b-rad) var(--b-rad);
    position: relative;
}

.key__card img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    border: solid white 2px;
    top: 0;
    transform: translate(-50%, -50%);
    background: transparent;
}

.card__title {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.key__card figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    padding-bottom: 1em;
}

.card__divider {
    display: block;
    background: lightgrey;
    height: 1px;
    width: 100%;
}

.card__meta {
    margin: .2em 0 .5em 0;
}

.card__meta span {
    display: block;
    margin: .5em 0;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    font-size: .7rem;
    text-transform: lowercase;
    font-weight: 700;
    color: gray;
}

span.card__location {
    text-transform: capitalize;
}

.key__card .search_match {
    font-weight: bold;
    outline-offset: 3px;
    outline: solid 2px hsla(25deg, calc(60% * var(--match-opacity)), calc(50% + (40% * (1 - var(--match-opacity)))), var(--match-opacity));
}

.key__card .btn-link_ghost {
    padding: .6em 2.25em;
    font-weight: normal;
}