.directory > section {
    width: 75vw;
    margin: 2em auto;
}

.directory > section:first-of-type {
    margin-top: 10vh;
}
.directory > section:last-of-type {
    margin-bottom: 10vh;
}

.directory > .section_search {
    margin: 2em auto;
    margin-block-end: 0;
    margin-block-end: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section_search .input__group {
    display: inline-block;
    margin-inline-end: 2em; 
}

span.results {
    margin: 0 .5em;
    padding: .4em .5em;
    color: var(--rok-pale-green-1_hex);
    border: solid 1px var(--rok-pale-green-1_hex);
    border-radius: .3em;
    font-size: 1.03em;
}

.advanced-btn {
    background: transparent;
    border: none;
    text-transform: uppercase;
    padding: .5em 1em;
    color: #6d7278;
    position: relative;
}

.advanced-btn::after {
    opacity: 0;
    width: 0;
    content: var(--active);
    font-weight: 200;
    padding: .1rem .6rem .2rem;
    border-radius: 2rem;
    background: var(--rok-gold-1_hex);
    color: white;
    font-size: 1rem;
    text-transform: none;
    transform: translateY(.5rem);
    transition: opacity .12s ease-in-out, transform .12s ease-in-out;
}

.advanced-btn.active::after {
    opacity: 1;
    transform: translateY(0);
    width: auto;
}

.btn_search {
    display: inline-block;
    padding: .6rem 2rem;
    margin-inline-start: 1rem;
    text-transform: uppercase;
}

.section_search .advanced-arrow {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 1em;
    transform-origin: 50% 50%;
    transition: transform .12s ease-in-out;
}
.section_search .advanced-arrow path {
    fill: none;
    stroke: #6d7278;
    stroke-width: .5;
    stroke-linecap: round;
}

.section_search .input__group input {
    width: 100%;
    margin: .3em 0;
    padding: .3em 1em;
    font-size: 1rem;
    border-radius: .3rem;
    border: solid 1px;
}

/* Filter inputs  */
.section_filters {
    background: #f7f7f7;
    transition: all .12s ease-in-out;
    opacity: 0;
    height: 0;
    box-sizing: border-box;
    padding: 0 12.5vw;
}

.filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em 1em;
}

.btn_filters {
    display: inline-block;
    margin: 1.5em 0;
    margin-inline-start: 1em;
    text-transform: uppercase;
    padding: .75em 2em;
}

.directory > .section_filters {
    width: 100%;
}

.section_filters.active {
    opacity: 1;
    height: 100%;
    padding: 2em 12.5vw;
}

.cb-grid_wrapper > .help_text {
    display: none;
}

.collapse_icon {
    display: none;
    width: 100%;
}

.collapse_icon path {
    stroke-linecap: round;
}

.collapse_icon.collapsed path:first-child {
    stroke-width: 0;
}

.section_filters .checkbox__grid {
    margin-bottom: 0;
}

.section_filters .checkbox__grid.two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.section_filters input[type='text'],
.section_filters input[type='email'] {
    width: 80%;
    min-width: 200px;
}

/* Artist Cards */
.directory .key__grid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.key__card {
    --b-rad: .2em;
    width: 10vw;
    min-width: 240px;
    margin: 2em .5vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(var(--grad-rotate), var(--rok-gold-1_hex), var(--rok-peach-1_hex));
    border-radius: var(--b-rad);
    box-shadow: var(--rok-shadow_bottom);
    text-decoration: none;
    transition: all .12s ease-in-out;
}
.key__card:hover,
.key__card:focus {
    transform: scale(1.025);
}

.key__card figure {
    width: 100%;
    margin: 0;
    margin-top: 8vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(60px + 1em);
    box-sizing: border-box;
    border-radius: 0 0 var(--b-rad) var(--b-rad);
    position: relative;
}

.key__card img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    border: solid white 2px;
    top: 0;
    transform: translate(-50%, -50%);
    background: transparent;
}

.card__title {
    margin: 0;
    text-align: center;
    text-transform: none;
}

.key__card figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    padding-bottom: 1em;
}

.card__divider {
    display: block;
    background: lightgrey;
    height: 1px;
    width: 100%;
}

.card__meta {
    margin: .2em 0 .5em 0;
}

.card__meta span {
    display: block;
    margin: .5em 0;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    font-size: .7rem;
    text-transform: lowercase;
    font-weight: 400;
    color: gray;
}

span.card__location {
    text-transform: capitalize;
}

.key__card .search_match {
    font-weight: bold;
    outline-offset: 3px;
    outline: solid 2px hsla(25deg, calc(60% * var(--match-opacity)), calc(50% + (40% * (1 - var(--match-opacity)))), var(--match-opacity));
}

.key__card .btn-link_ghost {
    padding: .6em 2.25em;
    font-weight: normal;
}

.cb-grid_wrapper.locations {
    grid-column: span 2;
}

.locations .checkbox__grid {
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 700px) {
    .btn_search, .btn_filters {
        margin-block-start: 3vw;
        margin-block-end: 3vw;
        margin-inline-start: 0;
    }

    .section_filters .btn_search,
    .section_filters .btn_filters {
        margin: .3em 0;
    }
    

    .section_filters.active {
        padding: 5vh 10vw;
        margin-block-start: 0;
    }

    .filters {
        display: block;
    }

    .section_filters .input__group {
        width: 100%;
        margin: 1rem 0;
    }

    .section_filters input[type='text'],
    .section_filters input[type='email'] {
        width: 100%;
    }

    .section_filters .checkbox__grid {
        grid-template-columns: 1fr;
        gap: 0;
        margin: 1rem 0;
    }

    .section_filters .locations {
        margin-block-start: 2rem;
    }


    .cb-grid_wrapper > .help_text.collapsed {
        display: none;
    }

    .cb-grid_wrapper > .help_text {
        display: block;
    }

    .cb-grid_wrapper > label > .help_text {
        display: none;
    }

    .input__group.checkbox {
        margin: .5em 0;
    }

    .cb-grid_wrapper > label {
        width: 100%;
        display: grid;
        grid-template-columns: auto 1.25rem;
        gap: 1em;
        text-transform: uppercase;
        color: var(--rok-slate-blue_hex);
        font-weight: 600;
        padding: 1em 1em;
        background: rgba(109, 114, 120, 0.3);
        align-items: center;
        box-sizing: border-box;
    }

    .checkbox__grid.collapsed {
        height: 0px;
        overflow: hidden;
    }

    .collapse_icon {
        display: block;
    }

    .advanced-btn {
        display: inline-block;
        font-size: .6em;
        padding: 1em;
        margin-block-end: 1em;
    }

    .key__card {
        min-width: 190px;
        margin: 1em .5vw;
    }

    .key__card figure {
        margin-top: 9vh;
    }
}