.heading__inline {
    font-family: 'EB Garamond', serif;
    display: inline;
    font-size: 100%;
}

.bar__learn-more {
    width: 100%;
    background: var(--rok-slate-blue_hex);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5em 5vw;
    font-size: calc(.6em + 1vw);
}

.bar__learn-more > div {
    max-width: 600px;
    margin-right: 15vw;
}

.btn__learn-more {
    display: block;
    padding: .6em 1.5em;
    font-size: 1em;
}

.index_hero {
    box-sizing: border-box;
    padding: 6vh 10vw;
    width: 100vw;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 3vw;
    align-items: center;
    font-size: calc(.6rem + .9vw);
}

.index_hero h1 {
    font-size: 8.5vw;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    line-height: 0.8;
    padding-left: 2rem;
    margin: 0;
    border-left: solid 1px var(--rok-copper-1_hex);
}

.index_hero h1 > span {
    font-size: 15vw;
    color: var(--rok-gold-1_hex);
}

.index_hero h1 > span > span:nth-child(2) { color: var(--rok-slate-blue_hex); }
.index_hero h1 > span > span:nth-child(3) { color: var(--rok-peach-1_hex); }
.index_hero h1 > span > span:nth-child(4) { color: var(--rok-pale-green-1_hex); }
.index_hero h1 > span > span:last-child { color: var(--rok-copper-1_hex); }

.index_hero__right-col {
    padding-right: 2rem;
    font-size: calc(.6em + .5vw);
}

.index_hero .btn {
    font-size: .6em;
    font-weight: 400;
    margin-top: 1.5rem;
    display: block;
    padding: 1em 3em;
}

.section_icon-heading-labels {
    display: flex;
        justify-content: center;
    margin: 0 5vw;
    box-sizing: border-box;
}


.section_quote-block {
    background-color: var(--rok-copper-1_hex);
    color: #fffffff0;
    display: flex;
    align-items: center;
    padding: 2em 5vw;
    box-sizing: border-box;
}

.section_quote-block img {
    max-height: 6em;
}

.section_quote-block blockquote {
    font-size: 1.2em;
    font-family: Raleway, sans-serif;
    color: var(--rok-peach-1_hex);
    line-height: 1.6;
    font-weight: bold;
    margin: 0;
    margin-block-end: .5em;
}

.section_quote-block > div {
    margin-inline-start: 2em;
}

.section_quote-block p {
    margin: 0;
    margin-block-start: .5em;
}

.section_news {
    padding: 4vh 0;
    width: 100%;
    background: rgba(247, 247, 247, 0.5);
}

.section_news h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 12.5%;
    border-bottom: solid 1px;
}


/* Mobile styling */
@media (max-width: 700px) {
    .index_hero {
        display: block;
        width: 100%;
    }

    .index_hero h1 {
        padding: 0;
        border-left: none;
        text-align: center;
        font-size: 10vw;
        line-height: .9;
    }

    .index_hero  h1 > span {
        font-size: 22vw;
        display: block;
    }

    .index_hero .index_hero__right-col {
        text-align: center;
        margin: auto;
        margin-block-start: 3vh;
        padding: 0;
        font-size: 1rem;
    }

    .index_hero__right-col .btn {
        margin: 0 auto;
        margin-block-start: 3vh;
        font-size: .8em;
    }

    .section_icon-heading-labels {
        flex-direction: column;
        margin: 5vh auto;
        margin-block-start: 0;
        width: fit-content;
    }

    .section_quote-block {
        display: grid;
        padding: 2em 5vw;
        grid-template-columns: 12vw 1fr;
    }

    .section_quote-block img {
        max-height: initial;
        width: 100%;
    }
}