.resources-intro {
    margin: 10vh 12.5vw;
    margin-block-end: 2rem;
}

.carousel.resource-carousel {
    margin-block-end: 2rem;
}

.carousel.resource-carousel .carousel_inner > * {
    margin: 0 .5rem;
}
.carousel.resource-carousel .carousel_inner > *:first-child {
    margin-inline-start: 0;
}
.carousel.resource-carousel .carousel_inner > *:last-child {
    margin-inline-end: 0;
}

.resource-title {
    color: white;
    text-transform: uppercase;
    font-size: 3.4rem;
    width: 15vw;
    height: min-content;
    padding: 2rem;
    border-radius: 4px;
    background: var(--theme-color);
}

.resources-intro {
    margin: 10vh 12.5vw;
    margin-block-end: 2rem;
}

@media(max-width: 700px) {
    .carousel.resource-carousel {
        margin-inline-start: 0;
    }
    
    .resource-title {
        width: 50vw;
    }
}