
.carousel {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr) 1fr;
    grid-gap: 1em;
}

.carousel_btn {
    --hov-scale: 1.03;
    --btn-c: #eee;
    border: none;
    display: grid;
    grid-template-rows: 25vh auto 1fr 2em;
    grid-gap: 1em;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 1.5em;

    transition: all .12s ease-in-out;
}

.carousel_btn:hover,
.carousel_btn:focus {
    transform: scaleY(var(--hov-scale));
}

.carousel_btn.disabled {
    opacity: 0;
}

.carousel_btn_img {
    width: 100%;
    background: var(--btn-c);
}

.carousel_btn_heading {
    height: 2.5em;
    background: var(--btn-c);
    width: 90%;
}

.carousel_btn_paragraph > div {
    background: var(--btn-c);
    width: 90%;
    height: .8em;
    margin: 1em 0;
}

.carousel_btn_btn {
    width: 4em;
    height: 2em;
    background: var(--btn-c);
}

.carousel_btn_next .carousel_btn_heading,
.carousel_btn_next .carousel_btn_paragraph > div {
    justify-self: flex-end;
}

.carousel_btn_next .carousel_btn_paragraph > div {
    margin-right: 0;
    margin-left: auto;
}

.carousel_btn_next .carousel_btn_btn {
    width: 8em;
    margin-left: 1em;
}

.carousel_card {
    --hov-scale: 1.03;
    background: white;
    display: grid;
    grid-template-rows: 25vh auto 1fr 2em;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 1.5em;
}

.carousel__gray .carousel_card {
    background: #f7f7f7;
}

.carousel_card > *:not(.fullwidth) {
    margin-left: 1em;
    margin-right: 1em;
}

.img_replacement {
    height: 25vh;
    width: 100%;
    background: linear-gradient(var(--grad-rotate), var(--rok-copper-1_hex), var(--rok-peach-1_hex));
}

.carousel_card .img_wrapper {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel_card img {
    max-width: 100%;
    object-fit: cover;
}

.carousel_card h3 {
    margin-bottom: 0;
}

.carousel_card .header_link {    
    text-decoration: none;
}

.carousel_card p:first-of-type {
    margin-top: .5em;
}

.carousel_card p {
    color: #6d7278;
}

.carousel_card p:last-of-type {
    margin-bottom: 1em;
}   