.email-signup-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-block-start: 2vh;
    max-width: 375px;
}

.email-signup-bar > label.email-input {
    margin: 0;
}

.email-input {
    width: 100%;
    margin: 0;
}

.email-input span {
    display: block;
    margin-block-end: .75em;
}

.email-input input {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #6d7278;
    box-sizing: border-box;
    width: 100%;
    height: 4vh;
    padding: 0;
    margin: 0;
    padding-inline-start: 1.5em;
    border: solid 1px var(--rok-slate-blue_hex);
    border-radius: .2vmax 0 0 .2vmax;
    border-right: none;
}

.privacy-consent {
    margin-block-start: .75em;
    display: flex;
    align-items: center;
    grid-column: span 2;
}

.opt-in .privacy-consent {
    margin: 1em 0 0;
}

.email-signup-bar button {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 0;
    margin: 0;
    height: 4vh;
    align-self: flex-end;
    border: solid 1px var(--rok-slate-blue_hex);
    border-radius: 0 .2vmax .2vmax 0;
    background: var(--rok-peach-1_hex);
    box-sizing: border-box;
    padding: .7em 1.5em;
}

.email-signup-bar button.sent {
    background: lightgreen;
}

.email-signup-bar button.failed {
    background: hsl(355deg, 40%, 70%);
}

.email-signup-bar button svg {
    height: 100%;
}

.email-signup-bar button path {
    fill: none;
    stroke: var(--rok-slate-blue_hex);
    transition: all .12s ease-in-out;
}

.email-signup-bar button.sent path {
    d: path('M 1 4.5 l 1.5 1.5 l 2 -5');
}

@media (max-width: 700px) {
    .email-signup-bar {
        margin: 4vh auto;
    }

    .privacy-consent {
        display: block;
        font-weight: normal;
    }
}