.menu-icon {
    background: none;
    border: none;
    padding: 1vmin;
    
    --line-width: 8vmin;
    --line-height: 1vmin;
    --line-border-radius: .5vmin;
    --line-bg: var(--rok-slate-blue_hex);
    --line-spacing: 2vmin;
  }
  
  .menu-icon:focus {
    outline: none;
    --line-bg: var(--rok-pale-green-1_hex);
  }
  
  .menu-icon__hamburger,
  .menu-icon__hamburger::before,
  .menu-icon__hamburger::after {
    display: block;
    width: var(--line-width);
    height: var(--line-height);
    border-radius: var(--line-border-radius);
    background: var(--line-bg);
    transform-origin: 50% 50%;
    transition: all .2s ease-in-out;
  }
  
  .menu-icon__hamburger {
    position: relative;
  }
  
  .menu-icon__hamburger::before,
  .menu-icon__hamburger::after {
    position: absolute;
    content: '';
  }
  
  .menu-icon__hamburger::before {
    bottom: calc(100% + var(--line-spacing));
  }
  
  .menu-icon__hamburger::after {
    top: calc(100% + var(--line-spacing));
  }
  
  .active .menu-icon__hamburger {
    transform: rotate(135deg);
  }
  
  .active .menu-icon__hamburger::before {
    transform: translate(0, calc(var(--line-spacing) + var(--line-height)));
  }
  
  .active .menu-icon__hamburger::after  {
    transform: translate(0, calc(-1 * (var(--line-spacing) + var(--line-height)))) rotate(-90deg);
  }