.dashboard > .imageArray {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dashboard > .imageWrapper {
    --gap: 3em;
    max-width: calc(100% / var(--columns) - 2 * var(--gap));
    margin: var(--gap);
}

.dashboard > .imageWrapper > img {
    max-width: 100%;
}