.carousel-section {
--theme-color: var(--rok-slate-blue_hex);
}

.carousel {
    margin-inline-start: 12.5%;
    -ms-overflow-style: none;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    overflow: -moz-scrollbars-none;
    scroll-behavior: smooth;
    position: relative;
}
.carousel::-webkit-scrollbar { width: 0 !important; }

.carousel:focus {
    outline: solid 1px var(--rok-slate-blue_hex);
    outline-offset: 1vmin;
}

.carousel_advance_btns {
    position: absolute;
    display: flex;
    list-style: none;
    top: 2.4em;
    right: 10vw;
    margin: 0;
    padding: 0;
}

.carousel_advance_btns > li {
    margin: 0;
    padding: 0;
    margin: 0 .5rem;
}

.carousel_advance_btns button {
    background: transparent;
    border: 0;
    font-size: 1.5rem;
    border: solid 1px transparent;
    border-radius: .25rem;
    transition: border-color .12s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2em;
}

.carousel_advance_btns svg {
    width: 1em;
}

.carousel_advance_btns path {
    fill: none;
    stroke: var(--theme-color);
    stroke-linejoin: round;
}

.carousel_advance_btns button:active,
.carousel_advance_btns button:focus {
    border-color: var(--theme-color);
    outline-color: var(--theme-color);
}

.carousel_inner {
    display: flex;
    width: max-content;
    padding: 1em 0;
}

.carousel_btn {
    --hov-scale: 1.03;
    --btn-c: #eee;
    border: none;
    display: grid;
    grid-template-rows: 25vh auto 1fr 2em;
    grid-gap: 1em;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 1.5em;

}

.carousel_card:hover,
.carousel_card:focus {
    transform: scale(var(--hov-scale));
}

.carousel_btn.disabled {
    opacity: 0;
}

.carousel_btn_img {
    width: 100%;
    background: var(--btn-c);
}

.carousel_btn_heading {
    height: 2.5em;
    background: var(--btn-c);
    width: 90%;
}

.button {
    justify-self: flex-end;
}

.carousel_btn_paragraph > div {
    background: var(--btn-c);
    width: 90%;
    height: .8em;
    margin: 1em 0;
}

.carousel_btn_btn {
    width: 4em;
    height: 2em;
    background: var(--btn-c);
}

.carousel_btn_next .carousel_btn_heading,
.carousel_btn_next .carousel_btn_paragraph > div {
    justify-self: flex-end;
}

.carousel_btn_next .carousel_btn_paragraph > div {
    margin-right: 0;
    margin-left: auto;
}

.carousel_btn_next .carousel_btn_btn {
    width: 8em;
    margin-left: 1em;
}

.carousel_card {
    --hov-scale: 1.03;
    background: white;
    box-sizing: border-box;
    list-style: none;
    padding-bottom: 1.5em;
    margin: 0 1em;
    width: calc(25vw - 2em);
    transition: all .12s ease-in-out;
}

.carousel_card a {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}
.carousel_card a > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.carousel_card:last-child {
    margin-inline-end: calc(12.5vw + 1em);
}

.carousel__gray .carousel_card {
    background: #f7f7f7;
}

.img_replacement {
    padding-bottom: 160px;
    width: 100%;
    background: linear-gradient(var(--grad-rotate), var(--rok-copper-1_hex), var(--rok-peach-1_hex));
}

.carousel_card .img_wrapper {
    max-height: 220px;
    display: flex;
    margin: 0;
}

.carousel_card img {
    max-width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}

.carousel_card h3 {
    @apply mb-0 lg:text-lg leading-tight mt-4;
}

.carousel_card .header_link {    
    text-decoration: none;
}

.cardDetails {
    flex-grow: 2;
}

.carousel_card p {
    margin-top: .5em;
    margin-bottom: .5em;
    color: #6d7278;
    font-weight: normal;
    word-break: break-word;
}

.carousel_card p:last-of-type {
    margin-bottom: 1em;
}   


/* Mobile styles */
@media(max-width: 700px) {
    .carousel {
        margin-inline-start: 0%;
        padding-inline-start: 12.5%;
    }

    .carousel_card {
        width: calc(70vw - 2em);
    }
}