.footer {
    box-sizing: border-box;
    padding: 2.5em 15vw;
    background-color: #f7f7f7;
    border-top: solid 1px #979797;
}

.footer nav {
    display: flex;
    justify-content: space-between;
}

.footer nav p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    color: var(--rok-slate-blue-1_hex);
    padding-bottom: .5em;
    margin: 0;
    position: relative;
}

.footer nav p::after {
    position: absolute;
    content: '';
    width: 3em;
    height: .3vh;
    border-radius: .15vh;
    background-color: var(--rok-gold-1_hex);
    top: 100%;
    left: 0;
}

.footer nav a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    margin: 1em 0;
}

.footer nav a:first-child {
    margin-block-start: 1.5em;
}

.footer a svg {
    width: 1.3em;
    margin-inline-end: .5em;
}

.footer .socialLink {
    display: flex;
    align-items: center;
}

.footer .iconFacebook path:first-of-type {
    fill: var(--rok-slate-blue_hex);
}

.footer .iconInstagram path,
.footer .iconInstagram circle {
    fill: var(--rok-peach-1_hex);
}    

.footer .iconTwitter path {
    fill: var(--rok-gold-1_hex);
}

.footer .iconLinkedIn path {
    fill: var(--rok-pale-green-1_hex);
}

.footer .iconYouTube g path {
    fill: var(--rok-copper-1_hex);
}

.footerEnd {
    font-size: .8em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--rok-gray-1_hex);
}

@media (max-width: 700px) {
    .footer {
        @apply px-6;
    }

    .footer > nav,
    .footer nav > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer > nav a:not(.visibleMobile),
    .footer > nav p:not(.visibleMobile) {
        display: none;
    }

    .footer .account_nav {
        margin-block-end: 4vh;
    }

    .footer > nav .socialLinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer nav .socialLink {
        margin-inline-start: 3vw;
        margin-inline-end: 3vw;
    }

    .footer nav .socialLinks a:first-child {
        margin-block-start: 1em;
    }

    .socialLinkLabel {
        display: none;
    }

    .footer nav p::after {
        left: 50%;
        transform: translate(-50%); 
    }

    .footerEnd {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}