.popup {
    position: fixed;
    top: 0;
    left: 100vw;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.popup.open {
    left: 0;
    opacity: 1;
    z-index: 10;
}

.popup__card {
    max-width: 85ch;
    max-height: 95vh;
    overflow-y: auto;
    box-sizing: border-box;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0 .2vh .8vh rgba(0,0,0,0.3);
    border-radius: .2em;
    padding: 8vh 5vw;
    position: relative;
}

.popup__card img {
    max-width: 95%;
}

.open .popup__card {
    display: flex;
    animation: fade-up .22s ease-in-out forwards;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translate(0, 10vh);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.popup__card h2 {
    font-size: 2.2rem;    
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: var(--rok-slate-blue_hex);
}

.popup__card p {
    @apply my-2 whitespace-pre-line;
    max-height: 30vh;
    max-width: 100%;
    overflow-y: auto;
}

.popup__card .input__group {
    width: 100%;
}

.popup__card form {
    width: 100%;
}

.popup__card label {
    font-family: 'Raleway', sans-serif;
    font-size: 85%;
    color: var(--rok-gray-1_hex);
    margin: .2em 0;
    margin-top: 1rem;
    width: 100%;
}

.popup__card textarea,
.popup__card input,
.popup__card input[type='text'],
.popup__card input[type='email'] {
    display: block;
    width: 100%;
}

.popup__card textarea {
    height: 4em;
}


.popup__card input[type="checkbox"],
.popup__card .checkbox {
    font-weight: normal;
    width: auto;
}

.popup__card .btn {
    margin-top: 2em;
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
}

.btn_close {
    border: 0;
    background: transparent;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 1em;
    right: 1em;
}

.btn_close path {
    stroke-width: 1px;
    stroke: black;
    stroke-linecap: round;
}

.buttonRow {
    display: flex;
    gap: 1rem;
    justify-content: stretch;
}

.buttonRow button {
    margin: 1rem 0;
    width: auto;
    display: block;
    flex: 1 1;
}

@media (max-width: 700px) {
    .popup__card {
        padding: 2vh 8vw;
        
    }
}

@media (max-width: 570px) {
    .popup__card {
        min-width: 350px;
    }
}
