.view-all_nav {
    background: rgba(0,0,0,0.85);
    color: white;
    box-sizing: border-box;
    padding-left: 13vw; 
    display: flex;
    align-items: center;
    height: 5rem;
}

.view-all_nav h1 {
    margin: 0;
    margin-right: 4em;
}

.view-all_nav nav {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.view-all_nav a {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 300;
    transition: all .12s ease-in-out;
}

.view-all_nav a:hover,
.view-all_nav a:focus {
    text-decoration: underline;
    transform: scale(1.03);
}

